<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/userList.css"/>
    <link rel="stylesheet" href="css/dialogInvite.css"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>StepByStep</title>
    <script id="userListTplFree" type="template">
        <table class="playerList">
            <% _.each(users, function(user) { %>
            <tr>
                <td class="userName"><%= user.userName %></td>
                <% if (user.isPlayer) { %>
                <td></td>
                <% } else if (user.isInvited) { %>
                <td class="inviteBtn activeInviteBtn" data-userId="<%= user.userId %>">Отмена</td>
                <% } else { %>
                <td class="inviteBtn" data-userId="<%= user.userId %>">Пригласить</td>
                <% } %>

            </tr>

            <% }) %>
        </table>
    </script>

    <script id="userListTplInGame" type="template">
        <table class="playerList">
            <% _.each(rooms, function(room) { %>
            <tr>
                <td class="userName"><%= room.players[0].userName %></td>
                <td class="userName"><%= room.players[1].userName %></td>
            </tr>

            <% }) %>
        </table>
    </script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="js/lib/EventEmitter.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/views/dialogs.js"></script>
    <script src="js/views/user_list.js"></script>

    <script src="js/components/socket.js"></script>
    <script src="js/modules/client.js"></script>
    <script src="js/modules/user_list.js"></script>
    <script src="js/modules/invite_manager.js"></script>
    <script src="js/modules/game_manager.js"></script>

</head>
<body>

<div id="userList">
    <div class="tabs">
        <div data-type="free">Свободны <span></span></div>
        <div data-type="inGame">Играют <span></span></div>
    </div>
    <div id="userListSearch">
        <label for="userListSearch">Поиск по списку:</label><input type="text" id="userListSearch"/>
    </div>
    <div class="tableWrap"></div>

    <div class="btn">
        <span>Играть с любым</span>
    </div>
</div>

<div id="endGameButton">
    <span>Выйти из игры</span>
</div>
</body>
</html>