.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.ui-dialog {
    font-size: 10pt;
}

.ui-dialog .ui-dialog-content{
    line-height: 20px;
}

.ui-dialog .dialog-buttonset {
    font-size: 10pt;
}

.ui-dialog .dialogDraggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;

}

.ui-dialog .inviteTime {
     margin-top: 10px;
}
.ui-dialog .inviteTime span{
    font-weight: bold;
}