.delete {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.delete:hover {
    opacity: 1;
}

.v6-buttons {
    position: absolute;
    top: 0px;
    right: 10px;
}

.v6-buttons div {
    color: blue;
    text-align: right;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}