#userList {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 255px!important;
    padding: 5px;
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    -webkit-user-select: none;
}

#userList .tabs {
    width: 100%;
}

#userList .tabs {
    color: #069;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 700;
}

#userList .tabs div span {
    font-weight: 400;
    font-size: 80%;
}

#userList .tabs .activeTab {
    background-color: rgba(100,142,163,.18);
}

#userList label {
    font-size: 8pt;
}

#userList input {
    margin-top: 5px;
    margin-left: 5px;
    width: 125px;
    height: 20px;
    color: rgb(128, 128, 128);
    border: 1px solid #ddd;
}


#userList .tabs div {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 3px;
    height: 20px;
}

#userList .tableWrap {
    height: 216px;
    max-height: 216px;
    overflow: auto;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.03);
    color: #444;
    margin-top: 10px;
    padding: 0px 3px 0px 3px;
}

#userList .playerList {
    width: 100%;
    table-layout: fixed;
}

#userList .btn {
    text-align: center;
    background-color: rgba(100,142,163,.18);
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #069;
}

#userList .active {
    background-color: #f7f791;
}

#userList .inviteBtn {
    text-align: right;
    padding: 4px 0;
    color:#069;
    cursor: pointer;
    font-size: 8pt;
    width: 70px;
}

#userList .userName {
    text-align: left;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#userList .userListFree .userName:hover {
    background-color: #edf1f5;
}

#userList .userRank {
    color: #AAA;
    font-size: 9px;
    text-align: right;
    padding-right: 25px;
}

#userList .userListGame:hover{
    background-color: #edf1f5;
}

#userList .userListGame{
    width: 20px;
    cursor: pointer;
}

#userList .userListGame td:nth-child(1){
    text-align: right;
}

#userList .userListGame td:nth-child(2){
    width: 20px;
    text-align: center;
}

#userList .inGame {
    display: none;
}

#userList tr.disconnected {
    height: 100%;
}

#userList tr.disconnected td {
    text-align: center;
    vertical-align: middle;
}

#userList tr.disconnected div {
    margin-top: 30%;
    opacity: 0.4;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
}

#userList .disconnectButton {
    font-size: 120%;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

#userList .disconnectText {
    color: #444;
}