#userList {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 255px!important;
    padding: 5px;
    background-color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    -webkit-user-select: none;
    box-shadow:none;
    cursor: default;
}

#left-block #userList{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-basis: 45%;
    -webkit-flex-basis: 45%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    margin: 0;
}

#left-block.chatHidden #userList{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    border-bottom: none;
}

#userList .tabs {
    width: 100%;
}

#userList .tabs {
    color: #069;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 700;
}

#userList .tabs div span {
    font-weight: 400;
    font-size: 80%;
}

#userList .tabs .activeTab {
    background-color: rgba(100,142,163,.18);
}

#userList label {
    font-size: 8pt;
}

#userList #userListSearch {
    margin-top: 5px;
    font-size: 12px;
    color: #777;
    text-align: left;
    position: relative;
    height: 22px;
}

#userList #userListSearch input {
    border: 1px solid #ddd;
    position: absolute;
    padding-left: 4px;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 49%;
    padding-top: 4px;
    cursor: text;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    color: #777;
}

#userList #userListSearch span {
    width: 49%;
    position: absolute;
    right: 0px;
    bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

#userList input::-webkit-input-placeholder {color:#777; font-size: 12px; font-family: Verdana,Geneva,sans-serif; opacity: 1;}
#userList input::-moz-placeholder          {color:#777; font-size: 12px; font-family: Verdana,Geneva,sans-serif; opacity: 1;}
#userList input:-moz-placeholder           {color:#777; font-size: 12px; font-family: Verdana,Geneva,sans-serif; opacity: 1;}
#userList input:-ms-input-placeholder      {color:#777; font-size: 12px; font-family: Verdana,Geneva,sans-serif; opacity: 1;}


#userList .tabs div {
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    height: 20px;
    line-height: 18px;
}

#userList .tabs.notInGame div {
    width: 49%;
}

#userList .tabs.inGame div {
    font-size: 12px;
    width: auto;
    margin-left: -2px;
}

#userList .tableWrap {
    height: 100px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.03);
    color: #444;
    margin-top: 5px;
    padding: 0px 3px 0px 3px;
}

#left-block #userList .tableWrap{
    min-height: 100px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

#userList .playerList {
    width: 100%;
    /*table-layout: fixed;*/
}

#userList .btn {
    text-align: center;
    background-color: rgba(227, 235, 238, 1);
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #069;
    flex-basis: 30px;
    -webkit-flex-basis: 30px;
}

#userList .active {
    background-color: #f7f791;
}

#userList .inviteBtn {
    text-align: right;
    padding: 4px 0;
    color:#069;
    cursor: pointer;
    font-size: 8pt;
    width: 71px;
}

#userList .userName {
    text-align: left;
    cursor: pointer;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#userList .userListFree .userName:hover {
    text-decoration: underline;
}

#userList .userListFree .userListPlayerInvite {
    text-align: right;
    padding-right: 20px;
}

#userList .userListFree .userListPlayerInvite img{
    height: 16px
}

#userList .userListFree.userListInactive {
    color: rgb(194, 194, 194);
}

#userList .userListFree.userListWaiting .userName {
    color: rgb(61, 155, 40);
    font-weight: bold;
}

#userList .userListFree.userListPlayer .userName {
    font-weight: bold;
}

#userList .userListFree.userListWaiting .inviteBtn {
    color: rgb(61, 155, 40);
    font-weight: bold;
}

#userList .userListFree .userListUserInvite {
    text-align: right;
    padding-right: 20px;
}

#userList .userListFree .userListUserInvite img{
    height: 13px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

#userList .userRank {
    color: #AAA;
    font-size: 9px;
    text-align: right;
    padding-right: 12px;
}

#userList .userListGame.currentGame{
    background-color: #edf1f5;
}

#userList .userListGame{
    width: 20px;
    cursor: pointer;
}

#userList .userListGame td:nth-child(1) span{
    float: right;
    text-align: right;
}

#userList .userListGame td:nth-child(2){
    width: 20px;
    text-align: center;
}
#userList .userListGameMode td{
    text-align: center;
    padding: 8px 0px 2px 0px;
    border-bottom: 1px solid #DDDDDD;
    color: #006699
}

#userList .inGame {
    /*display: none;*/
}

#userList tr.disconnected {
    height: 100%;
}

#userList tr.disconnected td {
    text-align: center;
    vertical-align: middle;
}

#userList tr.disconnected div {
    margin-top: 30%;
    opacity: 0.4;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11pt;
}

#userList .disconnectButton {
    font-size: 120%;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

#userList .disconnectText {
    color: #444;
}

#userList #vkInviteFriend {
    position: absolute;
}