#v6-history {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 5px;
    background-color: white;
    position: relative;
}

#v6-history .historyHeader {
    height: 30px;
}

#v6-history .closeIcon {
    float: right;
    cursor: pointer;
}

#v6-history .historyWrapper {
    border-spacing: 10px 0px;
}

#v6-history .historyTable {
    font-size: 8pt;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #dcdcdc;
    width: 100%;
    color: #444;
}

#v6-history .activeLink {
    text-decoration: none;
    color: #069;
    font-size: 12px;
    font-weight: 700;
}

#v6-history .unactiveLink {
    cursor: pointer;
    text-decoration: none;
    color: #069;
    font-size: 12px;
    border-bottom: 1px solid #069;
}

#v6-history .loading{
    margin: 0 auto;
    width: 32px;
}

#v6-history #showMore{
    margin: 10px auto;
    width: 100px;
    background-image: linear-gradient(top,transparent,transparent);
    color: #404040;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;

    height: 28px;
    line-height: 28px;
}

#v6-history .noHistory{
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 4px;

}
#v6-history .historyFilter{
     margin-right: 5px;
     display: inline-block;
     position: relative;
}
#v6-history .delete{
    display: inline-block;
    width: 18px;
    height: 20px;
    right: 0px;
    position: absolute;
    top: 0px;
}

.historyTable thead{
    background-color: #EEE;
}

.historyTable thead tr{
    border-bottom: 1px solid #dcdcdc;
}

.historyTable tr{
    height: 24px;
}

.historyTable th {
    height: 26px;
    font-weight: 400;
    color: #444;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}

.historyTable td {
    padding: 4px;
    border: 1px solid #dcdcdc;
    position: relative;
}

.historyTable tr.historyLose td:not(.sessionHeader) {
    background-color: #FFE0EE;
}
.historyTable tr.historyWin td:not(.sessionHeader) {
    background-color: #FFFFE0;
}
.historyTable tr.historyDraw td:not(.sessionHeader) {
    background-color: #b3d1e0;
}
.historyTable tr {
    cursor: pointer;
}

.historyTable .userRank {
    color: gray;
    margin-left: 2px;
    font-size: 9px;
}

.historyTable div.userRank {
    padding-top: 5px;
}

.historyTable .userScore {
    float: right;
    font-weight: bold;
    padding-top: 1px;
}

.historyTable .userName {
    border: none;
    background: none;
    cursor: pointer;
}

.historyTable .userName:hover{
    text-decoration: underline;
}

.historyTable .eloDiff {
    font-size: 80%;
    position: absolute;
    right: 10px;
}

.historyTable .diffPositive {
    color: green;
}

.historyTable .diffNegative {
    color: red;
}

.historyTable tr.historySelected td:not(.sessionHeader) {
    border-bottom: 2px solid #3332ff;
    border-top: 1px solid #3332ff;
    box-shadow: 0px -1px 0px 0px #3332ff;
}