<div class="v6-buttonsPanel">
<span data-action="zoomOut" class="zoomOut"> </span>
<span data-action="zoomIn" class="zoomIn"> </span>
<span data-action="fullScreenOn" class="fullScreenOn switchScreen"> </span>
<span data-action="soundOff" class="soundOff switchSound"> </span>
</div>