<div id="chat-rules" class="aboutPanel">
    <img class="closeIcon" src="<%= close %>">

    <div style="padding: 10px 12px 15px 25px;">
        <h2>Правила чата</h2>
        <p style="line-height: 16px;">В чате запрещено:<br>
            <span style="margin-left:5px;">1. использование ненормативной лексики и оскорбительных выражений;</span><br>
            <span style="margin-left:5px;">2. хамское и некорректное общение с другими участниками;</span><br>
            <span style="margin-left:5px;">3. многократная публикация бессмысленных, несодержательных или одинаковых сообщений.</span>
        </p>

        <p style="line-height: 16px;"><span style="margin-left:5px;">Баны</span> выносятся: на 1 день, на 3 дня, на 7 дней, на месяц или навсегда,
            в зависимости от степени тяжести нарушения.
        </p>

        <p style="line-height: 16px;"><span style="margin-left:5px;">Бан</span> снимается автоматически по истечении срока.
        </p>

    </div>
</div>