<div>
    <span class="ban-username" style="font-weight:bold;">Бан игрока <i><%= userName%></i></span><br><br>
    <span>Причина бана:</span>
    <br>
    <div class="inputTextField" id="ban-reason" contenteditable="true" style="height:54px; border: 1px solid #aaaaaa;"></div><br>

    <span>Длительность бана:</span><br>
    <select id="ban-duration">
        <option value="1">1 день</option>
        <option value="3">3 дня</option>
        <option value="7" selected="">7 дней</option>
        <option value="30">30 дней</option>
        <option value="9999">Навсегда</option>
    </select>

</div>