<p><%= result %></p>
<p><%= rankResult %></p>
<%= vkPost ? '<span class="vkWallPost">Рассказать друзьям</span>' : '<br>'%>
<span class="dialogGameAction">Сыграть с соперником еще раз?</span>
<div class="roundResultTime">Осталось: <span>30</span> секунд</div>
