<div id="v6-history" class="v6-block-border">
    <div class="historyHeader">
        <div class="historyFilter">
            <input type="text" placeholder="Поиск по имени" id="historyAutoComplete" value="">
            <div class="delete" style="background-image: url(<%= imgDel %>)"></div>
        </div>
        <img class="closeIcon" src="<%= close %>" title="Закрыть окно истории">
    </div>
    <div class="historyWrapper">
        <table class="historyTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="showMore">Показать еще</div>
        <div class="noHistory">Сохранения отсутствуют</div>
        <div class="loading"><img src="<%= spin %>"></div>
    </div>
</div>