<div id="v6-history">
    <div class="historyHeader"><img class="closeIcon" src="<%= close %>" title="Закрыть окно истории"></div>
    <div class="historyWrapper">
        <table class="historyTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="noHistory">Сохранения отсутствуют</div>
        <div class="loading"><img src="<%= spin %>"></div>
    </div>
</div>