<div id="v6-history">
    <div class="historyHeader"><img class="closeIcon" src="i/close.png" title="Закрыть окно истории"></div>
    <div class="historyWrapper">
        <table class="historyTable">
            <thead>
            <tr>
                <th>Дата</th>
                <th title="Имя противника">Противник</th>
                <th>Время</th>
                <th>№</th>
                <th colspan="2">Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="loading"><img src="i/spin.gif"></div>
    </div>
</div>