<div style="padding-bottom:2px; position: relative;">
    <div style="float:left;margin-top:4px;">Поиск:</div>
    <input type="text" placeholder="Поиск по имени" id="ratingAutoComplete" value="">
    <div class="delete" style="background-image: url(<%= imgDel %>)"></div>
</div>