<div id="v6-rating">
    <img class="closeIcon" src="i/close.png" title="Закрыть окно рейтинга">
    <div>
        <!-- rating filter panel -->
        <div class="filterPanel">
            <div style="margin-left: 8px;">

            </div>
        </div>
        <!-- rating table -->
        <table class="ratingTable" cellspacing="0">
            <thead>
                <tr class="headTitles">

                </tr>
                <tr class="headIcons">

                </tr>
            </thead>
            <tbody class="ratingTBody">

            </tbody>
        </table>

        <div class="loading"><img src="i/spin.gif"></div>

        <!-- div show more -->
        <div class="chat-button chat-post" id="ratingShowMore">
            <span>Ещё 500 игроков</span>
        </div>

        <!-- div bottom buttons -->
        <div class="footButtons">
            <div style="float:left"><span class="activeLink" id="jumpTop">[в начало рейтинга]</span></div>
            <div style="float:right"><span class="activeLink" id="closeRatingBtn">[закрыть]</span> </div>
        </div>
    </div>
</div>