<p>Настройки игры</p>
<div>
    <div class="option">
        <label><input type="checkbox" name="sounds">
            Включить звук</label>
    </div>
    <div class="option">
        <label><input type="checkbox" name="disableInvite">
            Запретить приглашать меня в игру</label>
    </div>
</div>
