<span class="blackListUser">
    <span class="userName"> <%= user.userName %> </span>
    <span class="removeBtn" data-userid="<%= user.userId %>"> <%= locale.buttons.remove %> </span>
    <!--<span class="date"> </span>-->
</span>